header {
  background-color:  #d2a679; /* Sky blue background color */
  color:  #fff8e1; /* Light sky blue text color */
  padding: 5px 0; /* Reduce vertical padding to lower height */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 1000;
}

nav {
  max-width: 960px; /* Reduce max width for a narrower layout */
  margin: 0 auto;
  padding: 0 10px;
}

nav ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

nav ul li {
  margin: 0 8px;
}

nav ul li a,
nav ul li button {
  color: #fff8e1; /* Light sky blue text color */
  text-decoration: none;
  font-size: 14px; /* Slightly smaller font size */
  padding: 6px 12px; /* Reduce padding for smaller buttons */
  transition: all 0.3s ease;
  border: none;
  background: none;
  cursor: pointer;
}

nav ul li a:hover,
nav ul li button:hover {
  background-color: #c49769; /* Slightly darker blue on hover */
  color: #ffffff; /* Bright white text color on hover */
  border-radius: 4px;
}

.logo {
  height: 64px; /* Increased logo height */
  width: 64px; /* Ensure the logo stays circular */
  border-radius: 50%;
  object-fit: cover;
  margin-right: 15px; /* Slightly increased margin for spacing */
  border: 3px solid #fff8e1; /* Light sky blue border for emphasis */
}


nav ul li a.active {
  color: #fff; /* Bright white text for active link */
  font-weight: bold;
}

@media screen and (max-width: 768px) {
  nav ul {
    flex-direction: column; 
    align-items: flex-start;
  }

  nav ul li {
    margin: 10px 0;
  }

  nav ul li a,
  nav ul li button {
    padding: 6px;
    width: 100%;
    text-align: left;
  }

  .logo {
    margin-bottom: 10px;
  }
}